:root {
    --primary: #b6895b;
    --bg: #010101;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins',sans-serif;
    background-color: var(--bg);
    color: #fff;
   

}

/* Navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #010101;
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}


.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    font-style: italic;
}


.navbar .navbar-logo span{
    color: var(--primary);
}


.navbar .navbar-nav a{

    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    


}


.navbar .navbar-nav a:hover{
    color:  var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}

.navbar .navbar-cari { 
    width: 70%;
    padding: 6px;

}

.navbar .navbar-extra a {
    color: #fff;
    margin: 0 0.5rem;
  
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

.navbar .navbar-van{
   
    position: absolute;
    top: -100%;
    left: 0%;
    transform: translate(-50);
    background: var(--bgcolor);
    width: 100%;
    

}
.navbar .navbar-van.active {
    top: 100%;
    box-shadow: var(--box-shadow);
    transition: 0.2s all linear;
}
.navbar .navbar-van input{
    padding: 1.5rem 1%;
    border: none;
    outline: none;
    width: 100%;
    font-size: var(--main-color);
}
.navbar .navbar-van input::placeholder {
    font-size: 1rem;
    font-weight: 500;
}
   
#hamburger-menu{
    display: none;
}

/* Hero Section */

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/header-bg.jpeg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  
}

.hero::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span{
    color: var(--primary);
}

.hero .content p{
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference ;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*About Section*/
.about, 
.Lukisan,
.contact{
    padding: 8rem 7% 1.4rem;

}

.about h2, 
.Lukisan h2, 
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.Lukisan h2 span, 
.contact h2 span{
    color: var(--primary);
}

.about .row{
    display: flex;
}

.about .row .about-img{
    flex: 1 1 45rem;
}

.about .row .about-img img{
    width: 100%;

}

.about .row .content{
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
    
}

/* Lukisan Section */


.Lukisan h2,
.contact h2{
    margin-bottom: 1rem;}

.Lukisan p{
    text-align: center;
}
.contact p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    
}



.Lukisan .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
   
}

.Lukisan .row .Lukisan-card {
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);


}

.Lukisan .row .Lukisan-card img{
   width: 100%;
   height: 250px;
   object-fit: contain;
   object-position: center;
   padding: 20px;
   background: #f1f1f1;
   border-radius: 0.5rem;
}
.Lukisan .row .Lukisan-card-title{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.5rem 0 0.5rem;

}
.Lukisan .row .Lukisan-card-price{
    display: left;
    align-items: center;
    justify-content: space-around;
}
.Lukisan .row .Lukisan-card-price {
    padding: 0.1rem;
    color: var(--primary);
    background: var(--main-color);
    border-radius: 4px;
    font: 4px;
    font-weight: 500;
}






/*contact Section*/
.contact .row{
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    
}



.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

/*Footer*/

footer{
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;


}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover, 
footer .links a:hover{ 
    color: var(--bg);
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a{
    color: var(--bg);
    font-weight: 700;
}





/* Media Queries */



/* Laptop */
@media (max-width:  1366px){
    html{
        font-size: 75%;
    }
}


/* Tablet */

@media (max-width:  758px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;

    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a{
        color: var(--bg);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover:after{
        transform: scaleX(0.2);
    }
    

    .about .row{
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;


    }

    .Lukisan p{
    font-size: 1.2rem;

        
}

.contact .row {
    flex-wrap: wrap;
}

.contact .row .map{
    height: 30rem;
}

.contact .row form{
    padding-top: 0;
}
}

/* Mobile Phone */

@media (max-width:  450px){
    html{
        font-size: 55%;
    }
}


.sc-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.sc-container img{
    width: 200px;
    margin: 2rem 0;
}
.sc-container h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;

}
.sc-container p{
    max-width: 600px;
    font-size: 0.970rem;
    text-align: center;
    margin: 0.5rem 0;
}
.sc-btn {
    padding: 12px 20px;
    border-radius: 2 rem;
    background: var(--text-color--);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
}

.navbar .navbarvin{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--container-color--);
    box-shadow: -2px 0 4 px hsl(0,4%,15 / 10%);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.navbar .navbarvin.active{
    right: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navbar .navbarvin-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.navbar.navbarvin-total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top:  1px solid var(--text-color--);
}
.navbar .navbarvin-total .total-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1rem;
}
.navbar .navbarvin-total .total-price{
    font-size: 1.075;
    margin: 1rem 0 0 0.7rem;
}
.btn-buy{
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    width: 50%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    background: #010101;
    color: #b6895b;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;
    cursor: pointer;
}
#close-navbarvin{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--primary);
    cursor: pointer;
}
.productButton {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .productButton1 {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton1:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .productButton2 {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton2:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .productButton3 {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton3:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .productButton4 {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton4:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .productButton5 {
    float: right;
    padding: 10px 20px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  .productButton5:hover {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  .payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payTitle {
    font-size: 20px;
    color: lightgray;
  }
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  .cardIcons {
    display: flex;
  }
  
  .cardIcon {
    margin-right: 10px;
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .sm {
    width: 30%;
  }
  
  .payButton {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
  }.close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
    


